In [2]:
import pandas as pd
df = pd.read_csv('Final.csv')

In [3]:
df.head()

,address,name,rate,votes,location,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),liked_food_item,liked_food_from_review,Review_clean,positive_words,latitude,longitude
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,4.1,775,Banashankari,"North Indian, Mughlai, Chinese",800.0,"['beautiful', 'place', 'dine', 'inthe', 'inter...",[],Buffet,Banashankari,[],"['butter roti', 'papad', 'kulcha', 'palak', 'p...",beautiful place dine inthe interior take back ...,52,12.915221,77.573598
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,4.1,787,Banashankari,"Chinese, North Indian, Thai",800.0,"['dinner', 'family', 'turned', 'good', 'choose...",[],Buffet,Banashankari,[],"['chicken biryan', 'sweet', 'sweet and spicy',...",dinner family turned good choose suitable age ...,83,12.915221,77.573598
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,3.8,918,Banashankari,"Cafe, Mexican, Italian",800.0,"['ambience', 'good', 'enough', 'pocket', 'frie...",[],Buffet,Banashankari,[],"['pasta', 'chocolate', 'pizza', 'veggies', 'ho...",ambience good enough pocket friendly cafe quan...,71,12.915221,77.573598
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,3.7,88,Banashankari,"South Indian, North Indian",300.0,"['great', 'food', 'proper', 'karnataka', 'styl...",[],Buffet,Banashankari,[],"['ice cream', 'masala dosa', 'mango', 'apple',...",great food proper karnataka style full meal tw...,134,12.915221,77.573598
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,3.8,166,Basavanagudi,"North Indian, Rajasthani",600.0,"['good', 'restaurant', 'neighbourhood', 'buffe...",[],Buffet,Banashankari,[],"['kulcha', 'jamun', 'gulab jamun', 'paratha', ...",good restaurant neighbourhood buffet system pr...,5,12.941726,77.575502

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12481 entries, 0 to 12480
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   address                      12481 non-null  object
 1   name                         12481 non-null  object
 2   rate                         12481 non-null  float64
 3   votes                        12481 non-null  int64
 4   location                     12481 non-null  object
 5   cuisines                     12481 non-null  object
 6   approx_cost(for two people)  12481 non-null  float64
 7   reviews_list                 12481 non-null  object
 8   menu_item                    12481 non-null  object
 9   listed_in(type)              12481 non-null  object
 10  listed_in(city)              12481 non-null  object
 11  liked_food_item              12481 non-null  object
 12  liked_food_from_review       12481 non-null  object
 13  Review_clean                 9983 non-null   object
 14  positive_words               12481 non-null  int64
 15  latitude                     12330 non-null  float64
 16  longitude                    12330 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 1.6+ MB

To create the "rank" column in your dataset, we can use a ranking algorithm that takes into account the rating, reviews, votes, and approximate cost. One possible approach is to assign a weighted score to each restaurant based on these factors and then rank them accordingly.

In [5]:
df['rank'] = (
    df['rate'] * df['votes'] +
    df['positive_words'] * 100 +
    df['approx_cost(for two people)'] * -1
)

# Rank the restaurants based on the 'rank' column
df['rank'] = df['rank'].rank(ascending=False)

# Sort the DataFrame by rank in ascending order
df = df.sort_values('rank')

In [6]:
df.head()

,address,name,rate,votes,location,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),liked_food_item,liked_food_from_review,Review_clean,positive_words,latitude,longitude,rank
5576,"77/A, 4th Floor Floor, Jyoti Nivas College Roa...",Crawl Street,4.3,2563,Koramangala 5th Block,"Continental, Finger Food, North Indian, Chinese",416.630112,"['great', 'foodnamazing', 'ambiencenreasonable...","['Veg Penne Pasta', 'Jalapeno Cheese Poppers',...",Delivery,BTM,[],"['roast chicken', 'tandoori khumb', 'grilled f...",great foodnamazing ambiencenreasonable pricesn...,5185,12.934843,77.618977,1.0
12025,"Kitchens@, Trifecta Adatto, 21, ITPB Main Rd, ...",Kitchens@Mahadevpura,3.9,125,Whitefield,"Italian, North Indian, South Indian, Chinese",600.000000,"['hii', 'guys', 'enter', 'kitchens', 'shocked'...",[],Delivery,Whitefield,[],"['samosa', 'fruit salad', 'chocolate', 'pasta'...",hii guy enter kitchen shocked possible one roo...,2954,12.969637,77.749745,2.0
10908,"Behind JP Morgan Bus Stop, 3rd Cross, Marathah...",Kolkata Biriyani,3.9,412,Marathahalli,"Biryani, Bengali",300.000000,"['kolkata', 'biriyani', 'famous', 'aloo', 'pot...",[],Delivery,Marathahalli,[],"['chicken chap', 'chicken kasha', 'dal', 'firn...",kolkata biriyani famous aloo potato serf along...,2853,12.955257,77.698416,3.0
7932,"LR Arcade,4121, Old Airport Road, Bangalore",Big Pitcher,4.7,9021,Old Airport Road,"American, Continental, North Indian, Mediterra...",416.630112,"['couple', 'times', 'recent', 'one', 'last', '...",[],Buffet,Indiranagar,[],"['chocolate', 'momos', 'kabab', 'hot wings', '...",couple time recent one last week place vibe pe...,2354,12.958640,77.665131,4.0
10493,"103, 5 th cross, MSR NAGAR, NEW BEL ROAD 560054",Biriyani Nights,3.2,711,New BEL Road,"Biryani, Kebab, Continental",500.000000,"['ordered', 'food', 'chicken', 'biryani', 'com...",[],Delivery,Malleshwaram,[],"['chicken finger', 'jamun', 'tomato bath', 'ka...",ordered food chicken biryani combon iam regula...,2711,13.040059,77.563572,5.0

In [7]:
#df.to_csv('ranked_restaurants.csv', index=False)

Creating Function to use in API

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/patel/lighthouse-lab-allprojects/Final/Data/ranked_restaurants.csv")

In [2]:
df.head()

,address,name,rate,votes,location,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),liked_food_item,liked_food_from_review,Review_clean,positive_words,latitude,longitude,rank
0,"77/A, 4th Floor Floor, Jyoti Nivas College Roa...",Crawl Street,4.3,2563,Koramangala 5th Block,"Continental, Finger Food, North Indian, Chinese",416.630112,"['great', 'foodnamazing', 'ambiencenreasonable...","['Veg Penne Pasta', 'Jalapeno Cheese Poppers',...",Delivery,BTM,[],"['roast chicken', 'tandoori khumb', 'grilled f...",great foodnamazing ambiencenreasonable pricesn...,5185,12.934843,77.618977,1.0
1,"Kitchens@, Trifecta Adatto, 21, ITPB Main Rd, ...",Kitchens@Mahadevpura,3.9,125,Whitefield,"Italian, North Indian, South Indian, Chinese",600.000000,"['hii', 'guys', 'enter', 'kitchens', 'shocked'...",[],Delivery,Whitefield,[],"['samosa', 'fruit salad', 'chocolate', 'pasta'...",hii guy enter kitchen shocked possible one roo...,2954,12.969637,77.749745,2.0
2,"Behind JP Morgan Bus Stop, 3rd Cross, Marathah...",Kolkata Biriyani,3.9,412,Marathahalli,"Biryani, Bengali",300.000000,"['kolkata', 'biriyani', 'famous', 'aloo', 'pot...",[],Delivery,Marathahalli,[],"['chicken chap', 'chicken kasha', 'dal', 'firn...",kolkata biriyani famous aloo potato serf along...,2853,12.955257,77.698416,3.0
3,"LR Arcade,4121, Old Airport Road, Bangalore",Big Pitcher,4.7,9021,Old Airport Road,"American, Continental, North Indian, Mediterra...",416.630112,"['couple', 'times', 'recent', 'one', 'last', '...",[],Buffet,Indiranagar,[],"['chocolate', 'momos', 'kabab', 'hot wings', '...",couple time recent one last week place vibe pe...,2354,12.958640,77.665131,4.0
4,"103, 5 th cross, MSR NAGAR, NEW BEL ROAD 560054",Biriyani Nights,3.2,711,New BEL Road,"Biryani, Kebab, Continental",500.000000,"['ordered', 'food', 'chicken', 'biryani', 'com...",[],Delivery,Malleshwaram,[],"['chicken finger', 'jamun', 'tomato bath', 'ka...",ordered food chicken biryani combon iam regula...,2711,13.040059,77.563572,5.0

Function using lat and lon

In [5]:
import folium
from folium import plugins
from geopy.distance import geodesic
import numpy as np

def get_top_restaurants(dish_name, location):
    # Filter the DataFrame based on the dish name
    filtered_df = df[df['liked_food_from_review'].apply(lambda x: dish_name in x)].copy()

    # Drop rows with missing coordinates
    filtered_df = filtered_df.dropna(subset=['latitude', 'longitude'])

    # Calculate the distances from the specified location
    filtered_df['distance'] = filtered_df.apply(lambda row: geodesic((row['latitude'], row['longitude']), location).km, axis=1)

    # Sort the DataFrame by distance in ascending order
    sorted_df = filtered_df.sort_values('rank')

    # Filter the top 3 restaurants within a 2km radius
    top_restaurants = sorted_df[sorted_df['distance'] <= 5.0].head(3)

    # Get the restaurant names
    restaurant_names = top_restaurants['name'].tolist()
    restaurant_rank = top_restaurants['rank'].tolist()
    

    return restaurant_names,restaurant_rank

In [6]:
# Example usage
dish =  'jamun'  # Specify the dish name
location = (12.958640, 77.665131)  # Specify the location coordinates

top_restaurants = get_top_restaurants(dish, location)
print(top_restaurants)

(['Big Pitcher', 'Urban Tamaasha', 'Hoot'], [4.0, 9.0, 12.0])

Function using location

In [11]:
import folium
from folium import plugins
from geopy.geocoders import Nominatim
from geopy.distance import geodesic
import numpy as np

def get_coordinates(location):
    geolocator = Nominatim(user_agent="my-app")  # Create a geolocator object
    location = geolocator.geocode(location)  # Get the coordinates of the location
    return location.latitude, location.longitude

def get_top_restaurants(dish_name, location):
    location_with_city = location + ', Bengaluru, India'
    location_coords = get_coordinates(location_with_city)

    # Filter the DataFrame based on the dish name
    filtered_df = df[df['liked_food_from_review'].apply(lambda x: dish_name in x)].copy()

    # Drop rows with missing coordinates
    filtered_df = filtered_df.dropna(subset=['latitude', 'longitude'])

    # Calculate the distances from the specified location
    filtered_df['distance'] = filtered_df.apply(lambda row: geodesic((row['latitude'], row['longitude']), location_coords).km, axis=1)

    # Sort the DataFrame by distance in ascending order
    sorted_df = filtered_df.sort_values('rank')

    # Filter the top 3 restaurants within a 2km radius
    top_restaurants = sorted_df[sorted_df['distance'] <= 5.0].head(3)
    # Get the restaurant names
    restaurant_names = top_restaurants['name'].tolist()
    restaurant_rank = top_restaurants['rank'].tolist()
    

    return restaurant_names,restaurant_rank

In [12]:
# Example usage
dish =  'jamun'  # Specify the dish name
location = 'Whitefield'  # Specify the location coordinates

top_restaurants = get_top_restaurants(dish, location)
print(top_restaurants)

(['Konaseema Grand', 'Flechazo', "Gilly's Restobar"], [154.0, 225.0, 274.0])

In [3]:
df[df['rank'] == 1]

,address,name,rate,votes,location,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),liked_food_item,liked_food_from_review,Review_clean,positive_words,latitude,longitude,rank
0,"77/A, 4th Floor Floor, Jyoti Nivas College Roa...",Crawl Street,4.3,2563,Koramangala 5th Block,"Continental, Finger Food, North Indian, Chinese",416.630112,"['great', 'foodnamazing', 'ambiencenreasonable...","['Veg Penne Pasta', 'Jalapeno Cheese Poppers',...",Delivery,BTM,[],"['roast chicken', 'tandoori khumb', 'grilled f...",great foodnamazing ambiencenreasonable pricesn...,5185,12.934843,77.618977,1.0

Example for live request to API

In [1]:
import requests

dish_name = 'roast chicken'
location = 'Bannerghatta Road'

# Make the API request
url = 'http://18.191.195.203:8080/api/top_restaurants?'
params = {'dish_name': dish_name, 'location': location}
response = requests.get(url, params=params)

# Check if the request was successful
if response.status_code == 200:
    try:
        data = response.json()
        top_restaurants = data['top_restaurants']
        print(f"Top restaurants for {dish_name} in {location}: {top_restaurants}")
    except ValueError:
        print("Error: Invalid JSON response.")
else:
    print(f"Error: {response.status_code} - {response.text}")

Top restaurants for roast chicken in Bannerghatta Road: [{'address': '77/A, 4th Floor Floor, Jyoti Nivas College Road, Koramangala 5th Block, Bangalore', 'name': 'Crawl Street'}, {'address': '448, 4th Floor, Big Bazaar Building, SRK Towers, Bannerghatta Road, Bangalore', 'name': 'The Yellow Submarine'}, {'address': '118, Koramangala Industrial Area, Koramangala 7th Block, Bangalore', 'name': 'Koramangala Social'}]